[Unit]
Description=Run Parre Script at Startup
After=network.target

[Service]
Type=simple
ExecStart=/home/soheil/scripts/parre
StandardOutput=file:/var/log/parre.log
StandardError=file:/var/log/parre.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
