[Unit]
Description=Run Setup Script at Startup
After=network.target

[Service]
Type=oneshot
ExecStart=/home/soheil/scripts/setup 1
RemainAfterExit=yes
StandardOutput=file:/var/log/setup.log
StandardError=file:/var/log/setup.log

[Install]
WantedBy=multi-user.target
