custom_color_mode_empty_background_color 0.1216 0.1216 0.1216
custom_color_contrast 0.9
custom_background_color 0.1216 0.1216 0.1216
custom_text_color 0.8314 0.8314 0.8314
page_separator_color 0.2275 0.2275 0.2275
search_highlight_color 0.4235 0.7137 1.0000
text_highlight_color 0.2275 0.2275 0.2275
link_highlight_color 0.5608 0.7373 0.7333
synctex_highlight_color 0.8784 0.4235 0.4588
status_bar_color 0.1647 0.1647 0.1647
status_bar_text_color 0.8314 0.8314 0.8314
ui_text_color 0.8314 0.8314 0.8314
ui_selected_text_color 0.8314 0.8314 0.8314
ui_background_color 0.2275 0.2275 0.2275
ui_selected_background_color 0.2902 0.2902 0.2902
visual_mark_color 0.4392 0.7137 0.7294 0.2

adjust_annotation_colors_for_dark_mode 0
gamma 1.35

font_size 18
status_bar_font_size 18
ui_font Departure Mono

should_launch_new_window 1

linear_filter 0

page_separator_width 8
show_document_name_in_statusbar 1

touchpad_sensitivity 0.5
vertical_move_amount 3.2
horizontal_move_amount 1.8

create_table_of_contents_if_not_exists 1
max_created_toc_size 86
super_fast_search 1

prerender_next_page_presentation 1
prerendered_page_count 6

startup_commands toggle_custom_color
