custom_background_color #2d302f
custom_text_color #ecf6f2
page_separator_color #2d302f
search_highlight_color #f0c239
status_bar_color #2d302f
status_bar_text_color #ecf6f2
ui_text_color #ecf6f2
ui_selected_text_color #ecf6f2
ui_background_color #434846
ui_selected_background_color #9da8a3
background_color #2d302f
text_highlight_color #9da8a3
link_highlight_color #b0a4e3
synctex_highlight_color #f9906f
visual_mark_color 0.61568627 0.65882353 0.63921569 0.2

custom_color_contrast 0.96
adjust_annotation_colors_for_dark_mode 0
gamma 1.46

font_size 22
status_bar_font_size 22
status_font Intel One Mono
ui_font Intel One Mono

should_launch_new_window 1

linear_filter 0

page_separator_width 0
show_document_name_in_statusbar 0

touchpad_sensitivity 0.5
vertical_move_amount 3.0
horizontal_move_amount 1.8

create_table_of_contents_if_not_exists 1
max_created_toc_size 86
super_fast_search 1

prerendered_page_count 4

startup_commands toggle_custom_color
