custom_background_color #32302f
custom_text_color #ebdbb2

page_separator_color #32302f
search_highlight_color #d8a657
status_bar_color #32302f
status_bar_text_color #ebdbb2
ui_text_color #ebdbb2
ui_selected_text_color #ebdbb2
ui_background_color #3c3836
ui_selected_background_color #7c6f64
background_color #32302f
visual_mark_color 0.48627451 0.43529412 0.39215686 0.2
text_highlight_color #7c6f64
link_highlight_color #7daea3
synctex_highlight_color #ea6962

font_size 18
status_bar_font_size 18
ui_font JetBrains Mono

should_launch_new_window 1

linear_filter 0

page_separator_width 0
prerender_page_count 16

smooth_scroll_speed 4
smooth_scroll_drag 1800
touchpad_sensitivity 1.8

create_table_of_contents_if_not_exists 1
max_created_toc_size 64
super_fast_search 1

dark_mode_contrast 0.5
dark_mode_background_color #282828
default_dark_mode 1

startup_commands toggle_custom_color
